includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    bootstrapFiles:
        - vendor/autoload.php

    stubFiles:
        - stubs/App/Models/User.stub

    treatPhpDocTypesAsCertain: false